/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}
* {
  margin: 0;
  padding: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  /* General Styles */
   
  html {
    font-size: 16px;
  }
   
  body {
    font-size: 1em;
    text-align: left;
  }
   
   
  a {
    color: #453e4f;
    text-decoration: none;
    font-family: 'Alike', serif;
  }
   h1,
   h2,
   h3,
   h4,
   h5,
   h6{
    font-family: 'Alike', serif;
   }
  h2 {
    font-weight: 500;
    font-size: 1.875em;
    margin: 0;
  }
   
  h3, 
  h4,
  h6 {
    font-weight: 500;
    font-size: 1.125em;
    margin: 20px 0;
  }
   
  p {
    font-size: .875em;
    line-height: 1.285;
    font-family: 'Open Sans', sans-serif;

  }
   
  img {
   width: 100%;
  }
   
  .wrapper {
    width: 90%;
    margin: 50px 0;
  }
  
   /* ==Header== */
/* Nav bar */
.topnav a.active {
  background-color: inherit;
  color: white;
  font-size: 1.3em;
}
.topnav a.contact {
  color: #453e4f;
  text-shadow:2px 2px 7px #6e695e;
}
.topnav {
  overflow: hidden;
  background-color: #f19494;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  color: inherit;
}
.topnav .icon {
  display: none;
}
/*==hero area==*/
 .hero img {
  opacity: 0.5;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top:-3.1em;
  width: 99vw;
 }
 .hero h1 {
   margin-top: -7.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-left: 1em;
  font-size: 2em;
  color: black;
  text-shadow: 2px 1px #161414 ; 
 }
 
.hero p {
 font-size: 1.5em;
 color:rgba(4, 15, 75, 0.966);
 background-color: #f19494;
 padding: 2em;
 margin-left: 1.2em;
 box-shadow: 20px 15px 5px 5px #6e695e ; 
 margin-top: 2.5em;
}
/*==Projects==*/
#projects {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
#projects h2 {
  display: flex;
 margin-top: 3.5em;
  justify-content: center;
  align-items: center;
}
.project-card {
  display: grid;
  grid-gap: 15px;
}
.project-card img{
 box-shadow: -12px -15px 12px 1px #f19494 ; 
}
.project-card .moi-img  {
  box-shadow:12px -15px 12px 1px #6e695e;
}
.project-card h3 {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin-top: 45px;
}
.project-card p {
  font-size: 1.313em;
  font-weight: 300;
}
.skills,
.tools  {
  font-weight: 400;
  font-style: italic;
}
.project-button {
  margin: 2.2em 0em 4em 5.9em;
}
.project-button a {
  border: solid #6e695e;
 font-size: 25px;
  border-radius: .1px;
  box-shadow: 10px 4px #6e695e;
  background-color: #f19494;
}
.project-button a:hover {
  background-color:#6e695e;
  color:#f19494;
  box-shadow: 12px 15px 2px 1px #f19494 ; 
}
/*==Skills==*/
#skills  {
 background-color: #d1cdc5; 
margin-top: -3.5em;
}
#skills h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color:#453e4f; 
  text-shadow: 2px 1px #f19494; 
  font-weight: 800;
  margin-bottom: -20px;
}
#skills i, #skills h6 {
  display: flex;
  justify-content: center;
  align-items: center;
}
 .skill-items{
  display: grid;
  margin-left:1em;
  grid-template-columns: repeat(2, 1fr);
}
.fontawesome-icon i {
  font-size: 3.5em;
  color:  #453E4F;
  text-shadow:2px 3px #f19494;
}
.skill-item-description {
  font-size: 1.3em;
}
/*==about==*/
#about {
display: grid;
}
#about h2 {
  display:flex;
  justify-content: center;
  align-items: center;
}
#about figure {
  width: 46%;
  box-shadow: 17px -14px 4px 3px #f19494;
  margin-left: 7em;
  margin-bottom: 3em;
}
#about p {
  margin-left: 2.3em;
 line-height: 1.4em;
 font-size: 1.1em;
 color:#453e4f; 
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
 /* smaller screens */
 @media screen and (max-width: 375px) {
  .hero h1 {
    margin-top: -7.5em;
    margin-bottom: 4em;
    font-size: 1.625em;
  }
 .hero p {
  margin-top: -1.2em;
 }
}
   @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
   /* tablet screens */
  @media only screen and (min-width:768px) {
    header .wrapper {
      max-width: 640px;
      margin: 100px 0;
      width: 100%;
      justify-content: space-between;
    }
    .topnav  {
      display:flex;
      justify-content: flex-end;
    }

    .topnav a {
      font-size: 1.3rem;
    }
    .topnav a.active  {
    margin-right: 6.7em;
    font-size: 1.7em;
  }
  .hero img {
    margin-top: -6.2em;
    width: 99.9vw;
  }
  .hero h1 {
    margin-top: -7em;
    margin-bottom: 2.5em;
    font-size: 3em;
  }
.hero p {
  padding: 3em;
  margin-left: 8em;
  font-size:1.625em;
}
#projects .wrapper  {
  padding-left: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5em;
}

.project-card {
  flex-flow: row wrap;
}
.project-card img {
 margin-top: 5em;

}
.project-card .moi-img  {
  height: 23vh;
}
.project-button {
  margin-left: 4em ;
}
.skill-items{
  margin-left: 4em;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  }
 #about div {
 display: flex;
 margin-left: 3rem;
 justify-content: center;
 align-items: center;
  }
#about figure {
  width: 80%;
  margin-left: 2em;
}
#about p {
  font-size: 1.5em;
  line-height: 1.6em;
}

}
   /* laptop screens */
  @media only screen and (min-width: 1280px) {
   .wrapper {
      max-width: 960px;
    }
    .topnav {
      font-size: 1.125em;
    }
    .topnav a.active  {
      margin-right: 16.8em;
      padding: .5em;
      font-size: 2em;
    }
  
    .hero h1 {
    margin-top: -11.5em;
    font-size: 3.5em;
  }
  .hero p {
    margin-top: 13em;
    padding: 5em;
    width: 50vw;
  }
  .project-card img {
    margin-top: 5em;
    width: 20em;
  }

  .project-card .moi-img  {
    height: 35vh;
  }

  #projects .wrapper  {
    grid-template-columns: repeat(3, 300px);
  }

  #middle-row,
  #last-row {
    margin-top: -5em;
    margin-left: 11em;
    }

#middle-row .project-button,
#last-row .project-button {
  margin-left: 2em;
}
#skills {
  padding: 60px;
}
#skills h2 {
  margin-top: -40px;
  margin-bottom: 2em;
}
.skill-items{
  grid-template-columns: repeat(4, 1fr);
  width: 110%;
  gap: 5em;
  }
#about h2{
  padding:1.3em;
}
#about figure {
  margin-top: 3em;
}

}
 /* bigger screens */
  @media screen and (min-width:1700px){
    .topnav a.active  {
      margin-right: 34.8em;
    }
    .hero h1 {
      margin-top: -16em;
    }
    .hero p {
      margin-top: 20.5em;
      margin-left: 14em;
    }

  .skill-items{
    margin-left: 24em;
  }

  }
  
@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}